
# Build artifacts
*.o
*.mod
*.a
*.x
optinfo.all
gmon.out

# Generated run artifacts
run.err
Tuning/sample_code/**/tests/**/outfile
Tuning/sample_code/**/tests/**/outfile.*
Tuning/sample_code/**/tests/**/outlist
Tuning/sample_code/**/tests/**/output
Tuning/sample_code/**/tests/**/*.out
